{% extends 'base.html.twig' %}

{% block title %}ProductLabels index{% endblock %}

{% block body %}
    <h1>ProductLabels index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameLabel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_label in product_labels %}
            <tr>
                <td>{{ product_label.id }}</td>
                <td>{{ product_label.nameLabel }}</td>
                <td>
                    <a href="{{ path('app_product_labels_show', {'id': product_label.id}) }}">show</a>
                    <a href="{{ path('app_product_labels_edit', {'id': product_label.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_labels_new') }}">Create new</a>
{% endblock %}
