{% extends 'base.html.twig' %}

{% block title %}Contents index{% endblock %}

{% block body %}
<h1>Contents index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>OrderContent</th>
            <th>Hook</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>TextContent</th>
            <th>MediaSrc</th>
            <th>MediaAlt</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for content in contents %}
        <tr>
            <td>{{ content.id }}</td>
            <td>{{ content.orderContent }}</td>
            <td>{{ content.hook }}</td>
            <td>{{ content.title }}</td>
            <td>{{ content.subtitle }}</td>
            <td>{{ content.textContent }}</td>
            <td>{{ content.mediaSrc }}</td>
            <td>{{ content.mediaAlt }}</td>
            <td>
                <a href="{{ path('app_content_show', {'id': content.id}) }}">show</a>
                <a href="{{ path('app_content_edit', {'id': content.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_content_new') }}">Create new</a>
{% endblock %}