{% extends 'base.html.twig' %}

{% block title %}Administrators{% endblock %}

{% block body %}
    <h1>Administrators</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrator.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ administrator.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ administrator.roles ? administrator.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ administrator.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administrators_index') }}">back to list</a>

    <a href="{{ path('app_administrators_edit', {'id': administrator.id}) }}">edit</a>

    {{ include('administrators/_delete_form.html.twig') }}
{% endblock %}
